/** COLORS **/
$primary: #2196F3;
$error: #ff9393;
$bg-color: #fff;
$text-primary: #000;
$light: rgba(0,0,0,.7);
$placeholder: #bbb;
$hr-color: #f0eef3;
$input-bg: #f1f1f1;
$input-caret-color: #1056ad;

/** STYLES **/
$border-radius: 6px;
$font-size: 29px; 
$primary-transition: 200ms all linear;

/** MOBILE **/
$media-query: 600px;
$font-size-mobile: 18px;
$h3-size: .8em;