@import '../../styles/variables.scss';
.VinInput {
    display: flex;
    flex-direction: column;
    input {
        border-radius: $border-radius;
        caret-color: $input-caret-color;
        width: calc(100% - 30px);
        padding: 15px;
        border: none;
        font-size: 1em;
        background-color: $input-bg;
        ::-webkit-input-placeholder {
            color: #bbb
        }
        transition: $primary-transition;
        -webkit-transition: $primary-transition;
    }
    &--invalid{
        input{
            border: 1px solid $error;
        }
    }
    &__Error {
        color: $error;
        width: 100%;
        transform: translateY(50%);

    }
    
}



*:focus {
    outline: none;
}
