@import '../../styles/variables.scss';
.VinInput {
    display: flex;
    input {
        border-radius: $border-radius;
        caret-color: $input-caret-color;
        width: 100%;
        padding: 15px;
        border: none;
        font-size: 1em;
        background-color: $input-bg;
        ::-webkit-input-placeholder {
            color: #bbb
        }
    }
    &__Error {
        color: $error;
    }
    
}



*:focus {
    outline: none;
}
